extends layout

block content

  div.editUser
    form(id="edit")
      label Изменение данных
      input(type="text" name="userName" placeholder="name" )
      input(type="text" name="userSurname" placeholder="surname")
      button(type="submit") Изменить

    form(id="deleteUser")
      button(type="submit") Удалить пользователя
    
  script(src= '/user.js')