extends layout

block content

    h1 Hello Users

    form(id="formElem")
      input(type="text" name="userName" placeholder="name" style="display: block")
      input(type="text" name="userSurname" placeholder="surname" style="display: block; margin: 10px 0")
      button(type="submit") Отправить

    //- a(href="users/1") Go to user
      
    script(src= '/submit.js')

    
