li a {
  text-decoration: none;
}

li a:hover {
  text-shadow: 1px 1px 2px rgb(129, 124, 127);
  border-bottom: solid 2px rgba(50, 48, 49, 0.6);
}

li a:link {
  color: rgb(0, 0, 0);
  border-bottom: solid 1px #000;
}

li a:visited {
  color: rgba(141, 89, 89, 0.6);
}

.editUser {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 40px;
  padding-bottom: 20px;
}

.editUser label {
  display: block;
  padding-bottom: 20px;
}

.editUser input {
  display: block;
}

.delete {
  align-self: center;
}
